### Kaggle Veri Seti İndirme

Veri setini **C:\Users\Samira\Sumeyra\btk-akademi\ML-Fundamentals-and-Practice\Dataset** klasörüne indirmek için aşağıdaki komutu kullanabilirsin:

```bash
kaggle datasets download -d kolawale/focusing-on-mobile-app-or-website -p C:\Users\Samira\Sumeyra\btk-akademi\ML-Fundamentals-and-Practice\Dataset

Bu kod, ZIP dosyasındaki verileri hedef klasöre çıkararak, sıkıştırılmış dosyaları kullanım için hazırlar:

In [1]:
import zipfile
import os

# ZIP dosyasının yolu
zip_dosya_yolu = r"C:\Users\Samira\Sumeyra\btk-akademi\ML-Fundamentals-and-Practice\Dataset\focusing-on-mobile-app-or-website.zip"

# Çıkarma dizini
cikarma_klasoru = r"C:\Users\Samira\Sumeyra\btk-akademi\ML-Fundamentals-and-Practice\Dataset"

# ZIP dosyasını çıkarma işlemi
with zipfile.ZipFile(zip_dosya_yolu, 'r') as zip_dosya:
    zip_dosya.extractall(cikarma_klasoru)

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv(r"C:\Users\Samira\Sumeyra\btk-akademi\ML-Fundamentals-and-Practice\Dataset\Customer-Fashion-Journey.csv")

In [ ]:
hmavrodiev/london-bike-sharing-dataset

In [ ]:
import zipfile
import os

# ZIP dosyasının yolu
zip_dosya_yolu = r"kaggle datasets download -d hmavrodiev/london-bike-sharing-dataset -p C:\Users\Samira\Sumeyra\btk-akademi\Predictive-Analytics-and-Data-Exploration-Projects\Datasets\london-bike-sharing-dataset.zip"

# Çıkarma dizini
cikarma_klasoru = r"C:\Users\Samira\Sumeyra\btk-akademi\ML-Fundamentals-and-Practice\Dataset"

# ZIP dosyasını çıkarma işlemi
with zipfile.ZipFile(zip_dosya_yolu, 'r') as zip_dosya:
    zip_dosya.extractall(cikarma_klasoru)

In [ ]:
kaggle datasets download -d hmavrodiev/london-bike-sharing-dataset -p C:\Users\Samira\Sumeyra\btk-akademi\Predictive-Analytics-and-Data-Exploration-Projects\Datasets

In [ ]:
kaggle datasets download -d hmavrodiev/london-bike-sharing-dataset -p C:\Users\Samira\Sumeyra\btk-akademi\Predictive-Analytics-and-Data-Exploration-Projects\Datasets\london-bike-sharing-dataset.zip

In [ ]:
Predictive-Analytics-and-Data-Exploration-Projects/Datasets/london-bike-sharing-dataset.zip

In [ ]:
Predictive-Analytics-and-Data-Exploration-Projects/Datasets/housing.csv

In [4]:
import pandas as pd
import re

def format_column_names(df):
    """
    Format column names to be lowercase with underscores between words.
    Removes special characters and converts spaces to underscores.
    
    Parameters:
    df (pandas.DataFrame): Input DataFrame with column names to format
    
    Returns:
    pandas.DataFrame: DataFrame with formatted column names
    
    Example:
    >>> df = pd.DataFrame({'Column Name': [1], 'Another.Column!': [2]})
    >>> format_column_names(df)
    # Returns DataFrame with columns: 'column_name', 'another_column'
    """
    def clean_column_name(col):
        # Convert to lowercase
        col = col.lower()
        
        # Replace special characters and multiple spaces with a single space
        col = re.sub(r'[^a-z0-9\s]', ' ', col)
        col = re.sub(r'\s+', ' ', col)
        
        # Strip leading/trailing spaces and replace remaining spaces with underscores
        col = col.strip().replace(' ', '_')
        
        # Remove consecutive underscores
        col = re.sub(r'_+', '_', col)
        
        return col
    
    # Create a copy of the DataFrame to avoid modifying the original
    df_formatted = df.copy()
    
    # Apply the formatting to all column names
    df_formatted.columns = [clean_column_name(col) for col in df_formatted.columns]
    
    return df_formatted

In [5]:
data.head()

,Email,Address,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,mstephenson@fernandez.com,"835 Frank Tunnel\nWrightmouth, MI 82180-9605",Violet,34.497268,12.655651,39.577668,4.082621,587.951054
1,hduke@hotmail.com,"4547 Archer Common\nDiazchester, CA 06566-8576",DarkGreen,31.926272,11.109461,37.268959,2.664034,392.204933
2,pallen@yahoo.com,"24645 Valerie Unions Suite 582\nCobbborough, D...",Bisque,33.000915,11.330278,37.110597,4.104543,487.547505
3,riverarebecca@gmail.com,"1414 David Throughway\nPort Jason, OH 22070-1220",SaddleBrown,34.305557,13.717514,36.721283,3.120179,581.852344
4,mstephens@davidson-herman.com,"14023 Rodriguez Passage\nPort Jacobville, PR 3...",MediumAquaMarine,33.330673,12.795189,37.536653,4.446308,599.406092

In [6]:
data = format_column_names(data)

In [7]:
data.head()

,email,address,avatar,avg_session_length,time_on_app,time_on_website,length_of_membership,yearly_amount_spent
0,mstephenson@fernandez.com,"835 Frank Tunnel\nWrightmouth, MI 82180-9605",Violet,34.497268,12.655651,39.577668,4.082621,587.951054
1,hduke@hotmail.com,"4547 Archer Common\nDiazchester, CA 06566-8576",DarkGreen,31.926272,11.109461,37.268959,2.664034,392.204933
2,pallen@yahoo.com,"24645 Valerie Unions Suite 582\nCobbborough, D...",Bisque,33.000915,11.330278,37.110597,4.104543,487.547505
3,riverarebecca@gmail.com,"1414 David Throughway\nPort Jason, OH 22070-1220",SaddleBrown,34.305557,13.717514,36.721283,3.120179,581.852344
4,mstephens@davidson-herman.com,"14023 Rodriguez Passage\nPort Jacobville, PR 3...",MediumAquaMarine,33.330673,12.795189,37.536653,4.446308,599.406092